[submodule ".submodules/playground"]
	path = .submodules/playground
	url = https://github.com/refining-company/playground.git
	branch = main
[submodule ".submodules/tree-sitter-sql-bigquery"]
	path = .submodules/tree-sitter-sql-bigquery
	url = https://github.com/ilya.kochik/tree-sitter-sql-bigquery.git
	branch = main
